
@{
    ViewData["Title"] = "HtmlHelper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HtmlHelper</h1>

<div>@Html.HelloWorldHTMLString()</div>
<div>@Html.HelloWorldString()</div>

<div>@Html.HelloWorld("Frank")</div>