
@{
    ViewData["Title"] = "ViewBagSample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewBagSample</h1>

@ViewBag.XYZ 
<!-- ViewBag hat keine Programmierunterstützungen wie Intellisense -->

