@model IEnumerable<ASPNETCORE_MVC_Course.Models.Movie>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Movie movieWithLowestPrice = null;

    if (Model.Any())
    {
        movieWithLowestPrice = Model.OrderBy(n => n.Price).First();
    }
}

@if (movieWithLowestPrice != null)
            {
    <p>Sonderangebot</p>
    <div class="card">
        <div class="card-body">
            <p>@movieWithLowestPrice.Title</p>
            <p>@movieWithLowestPrice.Price</p>
        </div>
    </div>
}

